body {
    background-image: url("../images/pixar.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

.blue {
    background-color:#83abda;
}

ul {
    list-style: none;
}

#gifForm {
    text-align: left;
    padding: 20px;
    color: white;
}

#poster {
    text-align: left;
    padding: 20px;
    color: white;
}

.gif-btn {
    padding: 5px;
    font-size: 16px;
    color: blue;
}